.demonstrationBlock {
    background: white;
    width: 100%;
    height: 100%;
}
.slideField {
    font-size: 36px;
    padding: 50px 0 0 50px;
}

.noSlide {
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}