.btnChangePassword{
    background: #EDEDED;
    border-radius: 30px;
    border-color: #EDEDED;
    border-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 10%;
    margin-top: 20%;
    padding: 7%;
    cursor: pointer;
    
    &:hover {
        background: #A2A2A2;
        color: #f3f3f3;
        svg {
            fill: #f3f3f3;
        }
    }
}

.addForm {
    min-width: 500px;
    padding: 7px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #A2A2A2;
}

.input {
    width: 100%;
    margin-bottom: 10px;
    .label {
        font-size: 16px;
        color: #A2A2A2;
        margin-left: 20px;
        margin-bottom: -3px;
    }
}

.buttons {
    margin-right: 12px;
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;

    .cancel {
        padding: 10px;
        border-radius: 20px;
        width: 120px;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: #dddddd;
        }
    }


    .submit {
        padding: 10px;
        background: #52DA3D;
        border-radius: 20px;
        margin-left: 20px;
        width: 120px;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: #2FBB21;
        }
    }
}